// colors
$color-white: #fff !default;
$color-black: #000 !default;

// fonts
$font-size-default: 16;
$sans: sans-serif;
$font-family-inter-name: 'Inter';
$font-family-inter: $font-family-inter-name, $sans;

// paths
$fonts-path: '/fonts';

// timing
$time-1: 100ms;
$time-2: 150ms;
$time-3: 200ms;
$time-4: 250ms;
$time-5: 300ms;
$time-6: 350ms;
$time-7: 400ms;
$time-8: 450ms;
$time-9: 500ms;